*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #171836;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  margin: 2rem auto 0;
}

.logo {
  object-fit: cover;
  width: 5.1rem;
  height: 2.5rem;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list li {
  font-weight: 500;
}

.nav__item a {
  color: rgba(255, 255, 255, 0.6);
}

.active_nav__item {
  color: #fff;
}

.nav__list li:not(:last-child) {
  margin-right: 3rem;
}

.langs img {
  width: 2rem;
  height: 1.5rem;
}

.langs button {
  border: none;
  background: none;
}

.langs button:hover {
  cursor: pointer;
}

.langs button:not(:last-child) {
  margin-right: 0.5rem;
}

.pricing {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 80rem;
  margin: 2rem auto 0;
}
.pricing__title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.pricing__description {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.pricing__plans {
  display: flex;
}

.pricing__plan {
  background: linear-gradient(
    180deg,
    #202246 -53.38%,
    rgba(40, 43, 87, 0.31) 100%
  );
  border-radius: 20px;
  padding: 2.25rem;
  border: 3px solid rgba(154, 156, 203, 0.1);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing__wrapper {
  margin-bottom: 1.5rem;
}

.pricing__plan:not(:last-child) {
  margin-right: 2.625rem;
}

.pricing__info {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
}

.pricing__info img {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.875rem;
}

.pricing__info--description span {
  font-size: 0.6875rem;
  display: flex;
  align-items: baseline;
  font-weight: 500;
}

.pricing__info--description span p {
  color: #f5453d;
  font-size: 1.75rem;
  font-weight: 700;
  margin-right: 0.25rem;
}

.pricing__info--description span p sup {
  font-size: 0.875rem;
}

.pricing__info--type {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.pricing__line {
  height: 2px;
  width: 100%;
  background-color: #272953;
  margin-bottom: 1.8rem;
}

.pricing__list {
  list-style: none;
}

.pricing__list li {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
}

.pricing__list li:not(:last-child) {
  margin-bottom: 1rem;
}

.pricing__list li::before {
  content: "\2022";
  color: #9799ce;
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  width: 1.5rem;
  vertical-align: sub;
}

.btn {
  border: none;
  background: transparent;
  font-size: 0.875rem;
  font-weight: 700;
  width: 18.75rem;
  height: 3.125rem;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.btn:focus,
.btn:active {
  outline: none;
}

.pricing__btn--express:active,
.pricing__btn--premium:active {
  transform: translateY(3px);
}

.btn:hover {
  cursor: pointer;
}

.pricing__btn--free {
  color: rgba(245, 68, 59, 0.5);
  border: 1px solid rgba(245, 68, 59, 0.5);
}
.pricing__btn--express {
  color: #f5443b;
  border: 1px solid #f5443b;
}
.pricing__btn--premium {
  background: #f5443b;
  color: #fff;
}

.pricing__premium {
  position: relative;
  overflow: hidden;
}

.pricing__premium:before,
.pricing__premium:after {
  position: absolute;
}

.pricing__premium:after {
  content: url("../imgs/premium-tag.png");
  z-index: 2;
  top: 0;
  right: 0;
}

.pricing__premium:before {
  content: "Popular";
  z-index: 3;
  transform: rotate(45deg);
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.75rem;
  transform: rotate(32.64deg);
  top: 1rem;
  right: 0.5rem;
}

/* Mobile Nav */

.mobile__burger {
  display: none;
  cursor: pointer;
  z-index: 11;
}

.mobile__burger--line {
  width: 2.5rem;
  height: 1px;
  background-color: #fff;
  position: relative;
  display: block;
  transition: all 0.2s linear;
}

.mobile__burger--line::before,
.mobile__burger--line::after {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 1px;
  background-color: #fff;
}

.mobile__burger--line::before {
  transform: translateY(-8px);
}
.mobile__burger--line::after {
  transform: translateY(8px);
}

.mobile__burger.active .mobile__burger--line::before {
  transform: translateY(0px) rotate(100deg);
}

.mobile__burger.active .mobile__burger--line {
  transform: translateY(0px) rotate(40deg);
}

.mobile__burger.active .mobile__burger--line::after {
  display: none;
}

/* List */

.mobile__nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;

  width: 20rem;
  height: 100vh;
  background-color: #1f2143;

  z-index: 10;
}

.mobile__nav.active {
  display: block;
}

.mobile__nav__list {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  top: 10rem;
  right: 6rem;
  position: absolute;
}

.mobile__nav__item a {
  color: rgba(255, 255, 255, 0.6);
}

.active_mobile__nav__item {
  color: #fff;
}

.mobile__nav__list li {
  font-weight: 500;
  font-size: 1.5rem;
}

.mobile__nav__list li:not(:last-child) {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 83%;
  }
  .header {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 67em) {
  .pricing {
    padding-bottom: 3rem;
  }

  .pricing__plans {
    flex-wrap: wrap;
    justify-content: center;
  }

  .pricing__plan:not(:last-child) {
    margin-right: 2.625rem;
  }
}

@media only screen and (max-width: 63.3125em) {
  .pricing__plan:not(:last-child) {
    margin: 0 2.625rem 2rem 0;
  }
}

@media only screen and (max-width: 61em) {
  .pricing__plan:not(:last-child) {
    margin: 0 0 2rem 0;
  }

  .pricing__plan:first-child {
    margin-right: 2.625rem;
  }
}

@media only screen and (max-width: 44.375em) {
  .pricing__plans {
    flex-direction: column;
  }

  .pricing__plan:first-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 34em) {
  .nav {
    display: none;
  }

  .mobile__burger {
    display: block;
  }
}
